$primary-color: #CD0276;

.sign-up-button {
  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

input {
  margin-top: 3px;
  border: none;
  height: 50px;
  width: 301px;
  background-color: #DBDBDB;
  color: black;
  border-radius: 20px;
  text-align: center;
  font: 20px bold;
}

